body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#chat {
    display: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

#messageInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

#sendButton {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

#sendButton:hover {
    background-color: #0056b3;
}

#namePrompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#nameInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#enterButton {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#enterButton:hover {
    background-color: #0056b3;
}

.message {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.sent {
    background-color: #e1ffc7;
    align-self: flex-end;
}

.received {
    background-color: #d1d1d1;
    align-self: flex-start;
}
